<div class="rectangle">
    <h1>Answer!</h1>
</div>


<div class="quiz hide">

    <div class="timer">
        <div class="progress">
            <div class="progress-bar"></div>
            <span class="progress-text"></span>
        </div>
    </div>

    <div class="container">
        <div class="arrow">   
            <i class="goHome1 bi bi-arrow-left"></i>
        </div>
        <div class="number">
            Question <span class="current">1</span>
            <span class="total">/10</span>
        </div>
        <div class="questionBox">
            <p class="question"></p>
        </div>
    </div>
    
    <div class="answer-wrapper">
        <div class="answer selected">
            <span class="text">answer</span>
            <span class="checkbox">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>    
    
    <div class="sendBtn">
        <button class="btn submit">Submit</button>
        <button class="btn next">Next</button>
    </div>
    
</div>

<div class="end-screen">
    <div class="score">
        <span class="score-text">Your Score:</span>
            <div>
                <span class="final-score">0</span>
                <span class="total-score">/10</span>
            </div>
        <button class="btn btn-danger restart">Go home</button>
    </div>
 </div>



<script src="Controllers/GameControllers.js"></script>
<script>
    document.querySelector('.goHome1').addEventListener('click', () => {
        LoadPartialView('/home', document.querySelector('.app'))
    })
</script>
