<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="Controllers/GameControllers.js"></script>
        
</head>
<body>
    <button class="start">start</button>
    <div class="container">
        <div class="rectangle">
        <h1>Category</h1>
    </div>
    </div>

    <div class="container">
        <div class="questionBox">
            <p class="question"></p>
        </div>
    </div>

    <div class="answer-wrapper">
        <div class="answer selected">
            <span class="text">answer</span>
            <span class="checkbox">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>    

    <div class="sendBtn">
        <button class="btn submit">Submit</button>
    </div>

    <div class="nextBtn">
        <button class="btn next">Next</button>
    </div>

    <script>
        document.querySelector('.answer-wrapper').addEventListener('click', function(event) {
            const clickedAnswer = event.target.closest('.answer');
            if (clickedAnswer) {
                document.querySelectorAll('.answer').forEach(function(answer) {
                    answer.classList.remove('selected');
                });
                clickedAnswer.classList.add('selected');
            }
        });
    </script>
</body>
</html>