<div class="txt mt-5 ms-4">
    <div class="row mx-0">
        <div class="col">
            <h1><strong>Welcome!</strong></h1>
        </div>
        <div class="col icon text-end">
            <a class="goUser">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </div>
    <p class="tKnow">Test Your Knowledge</p>
</div>
<div class="container">
    <div class="OpDiv mt-4 mb-3">
        <div>
            <div class="game">
                <i class="bi bi-play-fill"></i>
                <h3>Category</h3>
            </div>
        </div>
        
    </div>
    <div class="OpDiv my-3">
        <div class="game">
        <i class="bi bi-play-fill"></i>
            <h3>Category</h3>
        </div>

    </div>
    <div class="OpDiv my-3">
        <div class="game">
        <i class="bi bi-play-fill"></i>
        <h3>Category</h3>
    </div>
    </div>
</div>

<script>
    if(getLocalStorageValue("id_user") == null) {
        document.querySelector('.goUser').addEventListener('click', function() {
            LoadPartialView('/login', document.querySelector('.app'))
        })  
    } else {
        document.querySelector('.goUser').addEventListener('click', function() {
            LoadPartialView('/user_profile', document.querySelector('.app'))
        })  
    }

    document.querySelector('.game').addEventListener('click', function(){
        LoadPartialView('/game', document.querySelector('.app'))
    })
</script>
