<div class="goHome">
    <i class="bi bi-arrow-left"></i>
</div>

<div class="container">

    <!-- IMAGE LOGIN -->
    <div class="person">
        <i class="bi bi-person-circle"></i>
    </div>

    <!-- TEXT LOGIN PAGE -->
    <div class="txt">
        <h3 style="font-size: 35px;"><strong>Welcome Back</strong></h3>
        <p>Sign to continue</p>
    </div>

    <!-- FORMS LOGIN -->
    <div class="forms">
        <div class="fp1">
            <div class="row">
                <div class="col">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="col">
                    <input type="email" name="email" id="user-email" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="fp2">
            <div class="row">
                <div class="col">
                    <i class="bi bi-shield-lock"></i>
                </div>
                <div class="col">
                    <input type="password" name="password" id="user-password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="forgot">
            <p class="p">Forgot Password?</p>
        </div>
    </div>

    <!-- LOGIN BUTTON -->
    <div class="logBtn">
        <button type="button" class="btn-login-form btn btn-success">LOGIN</button>
        <p class="p2">Don't have account? <span class="spanGreen"> Create an account</span></p>
    </div>

</div>

<script>
    document.querySelector('.btn-login-form').addEventListener('click', function () {
        var userEmail = $('#user-email').val();
        var userPassword = $('#user-password').val();
        var userType = $('#user-type').val();

        var formData = {
            email: userEmail,
            password: userPassword,
            type: userType
        };

        login(formData);
    });

    console.log(User.name)
</script>

<script>
    document.querySelector('.spanGreen').addEventListener('click', function() {
        LoadPartialView('/register', document.querySelector('.app'))
    })

    document.querySelector('.goHome').addEventListener('click', function() {
        LoadPartialView('/home', document.querySelector('.app'))
    })
</script>
