<div class="goLogin">
    <i class="bi bi-arrow-left"></i>
</div>

<div class="txtReg">
    <h1>Create Account</h1>
    <p>Create a new account</p>
</div>

<!-- FORMS REGISTER -->
<div class="forms">
    <div class="fp">
        <div class="row">
            <div class="col">
                <i class="bi bi-person"></i>
            </div>
            <div class="col">
                <input type="text" name="name" id="user-name"d placeholder="Name">
            </div>
        </div>
    </div>
    <div class="fp">
        <div class="row">
            <div class="col">
                <i class="bi bi-person"></i>
            </div>
            <div class="col">
                <input type="text" name="lastname" id="user-lastname" placeholder="Lastname">
            </div>
        </div>
    </div>
    <div class="fp">
        <div class="row">
            <div class="col">
                <i class="bi bi-envelope"></i>
            </div>
            <div class="col">
                <input type="email" name="email" id="user-email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="fp">
        <div class="row">
            <div class="col">
                <i class="bi bi-unlock"></i>
            </div>
            <div class="col">
                <input type="password" name="pass" id="user-password" placeholder="Password">
            </div>
        </div>
    </div>
</div>

<!-- REGISTER BUTTON -->
<div class="regBtn">
    <button type="button" class="btn-register-form btn btn-success">REGISTER</button>
</div>

<script>
    document.querySelector('.btn-register-form').addEventListener('click', function () {
        var userName = $('#user-name').val();
        var userLastname = $('#user-lastname').val();
        var userEmail = $('#user-email').val();
        var userPassword = $('#user-password').val();

        var formData = {
            name: userName,
            last_name: userLastname,
            email: userEmail,
            password: userPassword,
        };

        console.log(formData)

        signup(formData);
        alert("Registro completado. Ahora puedes iniciar sesión con tus credenciales!")
        LoadPartialView('/login', document.querySelector('.app'));
    });

    document.querySelector('.goLogin').addEventListener('click', function() {
        LoadPartialView('/login', document.querySelector('.app'))
    })
</script>
