<div class="goLogin">
    <i class="bi bi-arrow-left"></i>
</div>

<div class="txtReg">
    <h1>Create Account</h1>
    <p>Create a new account</p>
</div>

<!-- FORMS REGISTER -->
<div class="forms">
    <div class="fp10">
        <div class="row">
            <div class="col">
                <i class="bi bi-person"></i>
            </div>
            <div class="col">
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
        </div>
    </div>
    <div class="fp11">
        <div class="row">
            <div class="col">
                <i class="bi bi-envelope"></i>
            </div>
            <div class="col">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="fp12">
        <div class="row">
            <div class="col">
                <i class="bi bi-unlock"></i>
            </div>
            <div class="col">
                <input type="password" name="pass" id="pass" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="fp12">
        <div class="row">
            <div class="col">
                <i class="bi bi-unlock"></i>
            </div>
            <div class="col">
                <input type="password" name="pass" id="pass" placeholder="Confirm password">
            </div>
        </div>
    </div>
</div>

<!-- LOGIN BUTTON -->
<div class="regBtn">
    <button type="button" class="btn btn-success">REGISTER</button>
</div>

<script>
    document.querySelector('.goLogin').addEventListener('click', function() {
        LoadPartialView('/login', document.querySelector('.app'))
    })
</script>