<div class="container">
    <div class="row">
        <div class="col arrowHomeUP">
            <i class="goHome bi bi-arrow-left"></i>
        </div>
        <!-- <div class="col coinsUP">
            <i class="bi bi-coin"></i>
            <p class="showCoins"></p>
        </div> -->
    </div>
</div>

<div class="container">
    <div class="avatar" data-label=""> <!-- Iniciales asignadas con JS --> </div>
    <p class="user-name"> <!-- Nombre asignado con JS --> </p>
    <div class="OpLead">
        <div class="goLead">
            <i class="bi bi-trophy">  <h3>Leaderboard</h3></i>
        </div>
</div>
    <!-- <p class="showCoins">  Coins mostradas con JS --> </p>
    <button class="logoutBtn btn btn-danger" id="logout">Logout</button>
</div>


<script>

    userName = getLocalStorageValue("name");
    userLastname = getLocalStorageValue("last_name");
    // userCoins = getLocalStorageValue("coins");

    firstLetters = userName.substr(0, 1) + userLastname.substr(0, 1)

    avatar = document.querySelector(".avatar");
    avatar.dataset.label = firstLetters;

    userNameElement = document.querySelector(".user-name")
    if (userNameElement) {
    userNameElement.textContent = userName + " " + userLastname;
    }

    // document.querySelector(".showCoins").textContent = userCoins;

    avatars = document.querySelectorAll(".avatar");

    avatars.forEach((a) => {
        const charCodeRed = a.dataset.label.charCodeAt(0);
        const charCodeGreen = a.dataset.label.charCodeAt(1) || charCodeRed;

        const red = Math.pow(charCodeRed, 7) % 200;
        const green = Math.pow(charCodeGreen, 7) % 200;
        const blue = (red + green) % 200;

        a.style.background = `rgb(${red}, ${green}, ${blue})`;
    });

    document.querySelector('.goHome').addEventListener('click', function() {
        LoadPartialView('/home', document.querySelector('.app'))
    })

    document.querySelector('.goLead').addEventListener('click', function() {
            LoadPartialView('/scoreboard', document.querySelector('.app'))
        }) 

    document.getElementById("logout").onclick = function() {
        logout();
        LoadPartialView('/home', document.querySelector('.app'))
    }


</script>

