/* @import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

.container {
    margin-top: 1.5rem;
    margin-bottom: 5px;
}

.rectangle {
    background:  linear-gradient(to bottom, #5db62a, #339380);
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.rectangle p {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.arrow {
    color: black;
    font-size: 35px;
    position: absolute;
    left: 1rem;
    bottom: 80vh;
    cursor: pointer;
}

/* .questionBox {
    margin-block: 10px 45px;
    width: 42vh;
    height: 152px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2.5px solid #000;
    background: lightgray 50%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.50);
} */

.questionBox {
    margin-block: auto 1rem;
}

.questionBox p {
    text-align: center;
    margin-top: 1rem;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    opacity: 1;
}

.answer-wrapper {
    width: 82vw;
    margin: 0 auto;
}

.answer {
    width: 100%;
    /* height: 60px; */
    padding-inline: 15px;
    border-radius: 10px;
    color: black;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 14px;
    .text {
        max-width: 80%;
        padding-block: 1rem;
    }
}

.answer .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.answer .checkbox i {
    color: #fff;
    font-size: 10px;
    opacity: 0;
    transition: all 0.3s;
}

.answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
    background-color: #0c80ef;
    border-color: #0c80ef;
}

.answer.selected .checkbox i {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición según sea necesario */
    transform: translateY(-50%);
    color: green; /* Color de la palomita */
}

.answer.correct {
    border-color: #0cef2a;
}

.answer.wrong {
    border-color: #fc3939;
}

.question-wrapper,
.answer-wrapper {
    margin-bottom: 50px;
}

.sendBtn {
    display: flex;
    justify-content: center;
}

.btn.next {
    display: none;
}

.submit, .next {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 30vh;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(76, 156, 30);
    color: white;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.50);
}

/* END SCREEN */

.end-screen {
    display: none;
}

.score {
    margin-top: 5rem;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    .score-text {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
    }
    button {
        margin: 5rem auto;
    }
}

.timer {
    margin-block: 30px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer .progress {
    position: relative;
    width: 80%;
    height: 2rem;
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #011f5f, #9078ff);
    transition: 1s linear;
}

.timer .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
